<button
  type="button-agregar"
  class="btn btn-success"
  routerLink="/productos/form"
>
  Nuevo
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 4.5v15m7.5-7.5h-15"
    />
  </svg>
</button>
<button
  type="button-agregar"
  class="btn btn-secondary"
  routerLink="/productos/form"
>
  Agregar 10
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"
    />
  </svg>
</button>
<button
  type="button-agregar"
  class="btn btn-secondary"
  routerLink="/productos/form"
>
  Restar 10
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
    />
  </svg>
</button>
<div class="mb-3 m-5"><h1>Lista de productos</h1></div>

<div class="grid-container">
  <div
    class="alert alert-info m-5"
    *ngIf="productos == undefined || productos.length == 0"
  >
    No existen productos registrados o no se pudo conectar a la base de datos
  </div>

  <div class="card" *ngFor="let producto of listaFiltrada" style="width: 18rem">


    <ng-container *ngIf="producto">
      <img
        [src]="producto?.fotoHashCode ? URL + 'ver-foto/' + producto.id + '?fotoHashCode=' + producto.fotoHashCode : '../../../assets/img/no-foto.jpg'"
        class="card-img-top"
      />
    </ng-container>


    <div class="card-body">
      <h5 class="card-title">{{ producto.nombre }}</h5>
      <p class="card-text">
        {{ producto.precio | currency : "COP" : "symbol-narrow" : "1.0-0" }}
      </p>
      <a href="#" class="btn btn-primary"
        >Agregar<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
      </a>
      <a [routerLink]="['/productos/form', producto.id]" class="btn btn-warning"
        >Editar
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
          />
        </svg>
      </a>
      <a class="btn btn-danger" (click)="eliminar(producto)"
        >Eliminar<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="container2">
  <div class="paginador">
    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="totalXPagina"
      [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions"
      (page)="paginar($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
